header,footer{
    background-color:rebeccapurple;
    height: 15%;
    width: 100%;
    margin-bottom: 2%;
}
body,html{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding:0%;
}
body{
    background-color:#F1F4F9;  
}
p{
    text-justify: auto;
}
a{
    font-size: 30px;
    width: 23%;
    margin-left:4% ;
}
form{
    margin: auto;
    width: 75%;
}
form[name="AffSys"]{
    background-color:mediumpurple;
    display: block;
    width: 30%;
    float: left ;
    margin-left: 35%;
    text-align: left;
    letter-spacing: 1px;
}

fieldset{
    background-color: rgb(247,247, 247);
    border-radius: 5px; 
    margin-bottom: 10px;
    border-color: #CCC;
    border-width: 1px;
    border-style:solid ;
}
legend{
    padding: 0px 10px;
    color: rgb(0, 0, 0);
    border-left: #CCC;
    border-right:#CCC ;
    border-width: 1px; 
    border-style:solid ;
}
label{
    background-color: #9400D3;
    color: #FFF;
    display: block;
    width: 30%;
    float: left ;
    padding-bottom:1% ;
    padding-right:1% ;
    padding-top:1% ;
    margin-left: 4%;
    text-align: right;
    letter-spacing: 1px;
}
input{
    color: #414A51;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    font-size: 14px;
    margin-left: 1%;
    width: 48%;
    border-color:#CCC ;
    border-width: 1px;
    border-style:solid ;
    transition: all O.25s linear;
}

input[type="submit"],input[type="reset"]{
    width: 50%;
    background-color: #9400D3;
    color: #FFF;
    letter-spacing: 1px;
    border-radius: 1px;
    transition: all 0.2s linear;
    margin-bottom: 20px;
    border-color: #DDeeff;
    border-width: 1px;
    border-style: solid;
    margin-left:25% ;
}
input[type="submit"]:hover,input[type="reset"]:hover{
    background-color: #9400D3;
    color: #FFF;
    box-shadow: 0 0 5px #9400D3;
    margin-right: 55%;
}
label[name="reussite"]{
    background-color: indigo;
    color: #FFF;
    display: block;
    width: 12%;
    float: left ;
    padding-bottom:1% ;
    padding-right:1% ;
    padding-top:1% ;
    margin-left: 15%;
    text-align: right;
    letter-spacing: 1px;
}
input[type="radio"]{
    width: 30%;
    height: 30%;
    background-color: rebeccapurple ;
    color: black;
    letter-spacing: 1px;
    border-radius: 1px;
    transition: all 0.2s linear;
    margin-bottom: 20px;
    border-color: #DDeeff;
    border-width: 1px;
    border-style: solid;
    margin-left:2% ;
}
select{
    margin-left: 2%;
    margin-bottom: 20px;
    width: 20%;
}
label[href="R2"],label[href="R3"]{
    background-color: #9400D3;
    color: #FFF;
    display: block;
    width: 10%;
    float: left ;
    padding-bottom:1% ;
    padding-right:1% ;
    padding-top:1% ;
    margin-left:30% ;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: right;
    letter-spacing: 1px;
}
label[href="R1"]{
    width: 30%;
    margin-right:20%;
    margin-top: 5%;
}


label[href="R4"]{
    background-color: #9400D3;
    color: #FFF;
    display: block;
    width: 30%;
    float: left ;
    padding-bottom:1% ;
    padding-right:1% ;
    padding-top:1% ;
    margin-left: 10%;
    margin-top: 20px;
    text-align: right;
    letter-spacing: 1px;
}